.ul {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(168, 289, 105);
    max-width: 70%;
    min-height: 550px;
    margin-left: 90px;
    margin-top: 50px;
    display: flex;
}

.li {
    background-color: rgb(289, 189, 204);
    box-shadow: 0 0 25px yellow;
    margin-right: 25px;
    margin-top: 20px;
    display: flex;
    min-width: 20%;
    max-height: 115px;
    padding: 25px;

}